# API
API_PORT=8000

# PostgreSQL
POSTGRES_HOST=postgres
POSTGRES_DB=estate
POSTGRES_USER=admin
POSTGRES_PASSWORD=password
POSTGRES_PORT=5432

# pgAdmin
PGADMIN_DEFAULT_EMAIL=admin@example.com
PGADMIN_DEFAULT_PASSWORD=password
PGADMIN_PORT=5050

# Meilisearch
MEILI_HTTP_ADDR=meilisearch:7700
MEILI_INDEX=properties
MEILI_PORT=7700
MEILI_NO_ANALYTICS=true

# Redis
REDIS_PORT=6379

# Model settings
ME5_MODEL_NAME=intfloat/multilingual-e5-large
